body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.relish {
  width: 140px;
  margin: 0 auto;
  height: 25px;
  background: transparent;
  position: relative;
  margin-bottom: -7%;
  z-index: 1;
}

.relish span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-image: linear-gradient(to right, #d9d117, #433d04);
}

.relish span:nth-child(1) {
  top: 20%;
  left: 0%;
  transform: rotate(45deg);
}

.relish span:nth-child(2) {
  top: 40%;
  left: 7%;
  transform: rotate(0deg);
}
.relish span:nth-child(3) {
  top: 20%;
  left: 14%;
  transform: rotate(20deg);
}
.relish span:nth-child(4) {
  top: 40%;
  left: 21%;
  transform: rotate(-20deg);
}
.relish span:nth-child(5) {
  top: 20%;
  left: 28%;
  transform: rotate(20deg);
}
.relish span:nth-child(6) {
  top: 40%;
  left: 35%;
  transform: rotate(45deg);
}
.relish span:nth-child(7) {
  top: 20%;
  left: 42%;
  transform: rotate(45deg);
}

.relish span:nth-child(8) {
  top: 40%;
  left: 50%;
  transform: rotate(0deg);
}
.relish span:nth-child(9) {
  top: 20%;
  left: 57%;
  transform: rotate(20deg);
}
.relish span:nth-child(10) {
  top: 40%;
  left: 64%;
  transform: rotate(-20deg);
}
.relish span:nth-child(11) {
  top: 20%;
  left: 71%;
  transform: rotate(20deg);
}
.relish span:nth-child(12) {
  top: 40%;
  left: 78%;
  transform: rotate(45deg);
}
.relish span:nth-child(13) {
  top: 40%;
  left: 85%;
  transform: rotate(-20deg);
}
.relish span:nth-child(14) {
  top: 20%;
  left: 92%;
  transform: rotate(20deg);
}
.relish span:nth-child(15) {
  top: 40%;
  left: 100%;
  transform: rotate(45deg);
}

.bun {
  width: 140px;
  margin: 0 auto;
  height: 45px;
  background-image: linear-gradient(#f9c82e, #f19a2b);
  border-radius: 40px 40px 140px 140px;
  position: relative;
}

.bun span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 4px solid #fcf9e5;
  border-bottom: 4px solid #fcf9e5;
  border-left: 2px solid #fcf9e5;
  border-right: 2px solid #fcf9e5;
  border-radius: 2px / 6px;
}

.bun span:nth-child(1) {
  top: 25px;
  left: 40px;
  transform: rotate(10deg);
}
.bun span:nth-child(2) {
  top: 5px;
  left: 50%;
  transform: rotate(-10deg);
}
.bun span:nth-child(3) {
  top: 70%;
  left: 75%;
  transform: rotate(-35deg);
}
.bun span:nth-child(4) {
  top: 40%;
  left: 90%;
  transform: rotate(10deg);
}
.bun span:nth-child(5) {
  top: 30%;
  left: 40%;
  transform: rotate(-45deg);
}
.bun span:nth-child(6) {
  top: 20%;
  left: 70%;
  transform: rotate(45deg);
}

.sausage {
  width: 190px;
  margin: 0 auto -10%;
  z-index: -1;
  height: 35px;
  background-image: linear-gradient(to top, #ef7a58, #cb3c0c);
  border-radius: 120px 120px 140px 140px;
  position: relative;
}

@media (min-width: 768px) {
  .sausage {
    width: 500px;
    height: 90px;
  }

  .bun {
    width: 370px;
    height: 120px;
  }

  .relish {
    width: 370px;
    height: 65px;
  }

  .relish span {
    width: 25px;
    height: 25px;
  }
}
